@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-grey950: #08070b;
    --clr-grey900: #14131b;
    --clr-grey850: #18171f;
    --clr-grey800: #24232c;
    --clr-grey700: #54535b;
    --clr-grey600: #817d92;
    --clr-grey200: #e6e5ea;

    --clr-green200: #A4FFAF;
    --clr-yellow300: #f8cd65;
    --clr-orange400: #fb7c58;
    --clr-red500: #f64a4a;

    --background-gradient: linear-gradient(to right,#14131b, #08080b);

    /* typography */
    --ff-jetbrains-mono: "JetBrains Mono", monospace, serif;

    --lh-42px: 2.625rem;
    --lh-32px: 2rem;
    --lh-24px: 1.5rem;
    --lh-20px: 1.25rem;

    --lh-fluid-2024: clamp(var(--lh-20px), 6vw, var(--lh-24px));
    --lh-fluid-2432: clamp(var(--lh-24px), 7vw, var(--lh-32px));
    --lh-fluid-3242: clamp(var(--lh-32px), 9vw, var(--lh-42px));

    --ls-0px: 0;

    --fw-bold: bold;

    --font-size-fluid-0: clamp(1rem, 2vw, 1.125rem);
    --font-size-fluid-1: clamp(1rem, 3vw, 1.5rem);
    --font-size-fluid-2: clamp(1.125rem, 2vw, 1.6rem);
    --font-size-fluid-3: clamp(1.5rem, 4vw, 2rem);

    /* spacing */
    --spacing-8px: 0.5rem;
    --spacing-16px: 1rem;
    --spacing-24px: 1.5rem;
    --spacing-28px: 1.75rem;
    --spacing-32px: 2rem;
    --spacing-56px: 3.5rem;
    --spacing-64px: 4rem;
    --spacing-80px: 5rem;
    --spacing-104px: 6.5rem;
    --spacing-124px: 8rem;
    --spacing-160px: 10rem;
    --spacing-176px: 11rem;
    --spacing-184px: 11.5rem;
}

body {
    background: var(--background-gradient);
    font-family: var(--ff-jetbrains-mono);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: clamp(var(--spacing-16px), 4vw, var(--spacing-32px));
}

.title{
    color: var(--clr-grey600);
    font-size: var(--font-size-fluid-1);
    font-weight: var(--fw-bold);
    line-height: var(--lh-fluid-2024);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(var(--spacing-16px), 4vw, var(--spacing-32px));
}

.ps-output-wrapper {
    background-color: var(--clr-grey800);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-16px) clamp(var(--spacing-16px), 4vw, var(--spacing-32px));
    min-width: 21.438rem;
    width: clamp(21.438rem, 50vw, 33.75rem);
    box-sizing: border-box;
}

#ps-output {
    color: var(--clr-grey700);
    font-size: var(--font-size-fluid-3);
    font-weight: var(--fw-bold);
    line-height: var(--lh-fluid-3242);
}

.copy-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copy {
    color: var(--clr-green200);
    font-size: var(--font-size-fluid-0);
    text-transform: uppercase;
    line-height: var(--lh-fluid-2024);
}

#copy-btn {
    background-color: transparent;
    border: none;
}

.parameter {
    background-color: var(--clr-grey800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-32px);
    padding: clamp(var(--spacing-16px), 3.5vw, var(--spacing-32px));
    min-width: 21.438rem;
    width: clamp(21.438rem, 50vw, 33.75rem);
    box-sizing: border-box;
}

.length {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--spacing-8px), 3vw, var(--spacing-32px))
}

.length__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label-text {
    color: var(--clr-grey200);
    font-size: var(--font-size-fluid-0);
    white-space: nowrap;
}

.length__display {
    color: var(--clr-green200);
    font-size: var(--font-size-fluid-3);
}

#length-setter {
    -webkit-appearance: none;
    width: 100%;
    height: var(--spacing-8px);
    /* background: linear-gradient(to right, var(--clr-green200) 0%, var(--clr-grey850) 0%); */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* Track and thumb for Chrome/Safari */
#length-setter::-webkit-slider-runnable-track {
background: transparent;
height: var(--spacing-8px);
border-radius: 5px;
}

#length-setter::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 1.75rem;
height: 1.75rem;
border-radius: 50%;
background: var(--clr-grey200);
margin-top: -0.6rem; 
cursor: pointer;
}

/* Track and thumb for Firefox */
#length-setter::-moz-range-track {
background: transparent;
height: var(--spacing-8px);
border-radius: 5px;
}

#length-setter::-moz-range-thumb {
width: 1.75rem;
height: 1.75rem;
border-radius: 50%;
background: var(--clr-grey200);
cursor: pointer;
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16px);
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-16px);
}

.option__checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: var(--lh-20px);
    height: var(--lh-20px);
    background-color: transparent; 
    border: 0.15rem solid var(--clr-grey200); 
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position:  bottom right;
    background-size: 90%; 
}
  
.option__checkbox:checked {
    background-color: var(--clr-green200); 
    border-color: var(--clr-green200); 
    background-image: url('../images/icon-check.svg');
}

.option-wrapper label {
    cursor: pointer;
}

.bot-group {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--spacing-16px), 4vw, var(--spacing-32px));
}

.strength {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-16px) clamp(var(--spacing-16px), 4vw, var(--spacing-32px));
    background-color: var(--clr-grey850);
}

.strength__title {
    color: var(--clr-grey600);
    font-weight: var(--fw-bold);
    line-height: var(--lh-fluid-2024);
    text-transform: uppercase;
    font-size: var(--font-size-fluid-0);
}

.strength__gauge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-16px);

}

.strength__text {
    color: var(--clr-grey200);
    font-size: var(--font-size-fluid-2);
    line-height: var(--lh-fluid-2432);
    white-space: nowrap;
    text-transform: uppercase;
}

.strength__bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-8px);
}

.strength__bar {
    box-sizing: border-box;
    border: 0.125rem solid var(--clr-grey200);
    padding: 0.875rem 0.25rem;
}
  
#generate {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16px);
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green200);
    border: none;
    padding: clamp(var(--spacing-16px), 4vw, var(--spacing-24px));
    font-weight: var(--fw-bold);
    font-size: var(--font-size-fluid-1);
    text-transform: uppercase;
    line-height: var(--lh-fluid-2024);
}
